.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  width: 100px; // увеличил
  text-align: center;
  font-size: 0.95rem;
  color: var(--light-text);
  animation: fadeIn 0.5s ease-in-out;
}

.iconWrapper {
  width: 60px; // увеличил
  height: 60px; // увеличил
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.4s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.3);
  }
}

.label {
  font-weight: 600;
  font-size: 0.95rem;
}

.value {
  font-size: 0.85rem;
  opacity: 0.8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
