{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/layout/(.*)$",
    "^@/ui/(.*)$",
    "^@/providers/(.*)$",
    "^@/constants/(.*)$",
    "^@/types/(.*)$",
    "^@/assets/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": ["*.spec.ts", "*.test.ts", "*.spec.tsx", "*.test.tsx"],
      "options": {
        "importOrder": [
          "<THIRD_PARTY_MODULES>",
          "^@/(.*)$",
          "^[./]"
        ]
      }
    }
  ]
}