# Игнорировать данные Docker
/db_data/

# Игнорировать бэкапы базы данных
/backups/

# Игнорировать чувствительные данные
.env
.env.local
.env.development
.env.production

# Игнорировать зависимости Node.js
backend/node_modules/
frontend/node_modules/
desktop/node_modules/

# Игнорировать сборочные артефакты
backend/dist/
backend/coverage/
backend/tsconfig.build.tsbuildinfo
frontend/.next/
frontend/out/
frontend/package-lock.json
frontend/*.tsbuildinfo
backend/package-lock.json
desktop/src-tauri/target/
desktop/src-tauri/gen/

# Игнорировать временные файлы и логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать файлы кэша и временные файлы редакторов
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# Игнорировать кэш Docker (если используется buildkit)
.docker/