@mixin no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.accountsChapter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  @include no-select;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  color: var(--text-primary);
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  transition: background 0.2s;
  &:hover {
    background: var(--surface-hover);
    .collapseIcon {
      transition: color 0.7s;
      color: var(--primary);
    }
  }
}

.title {
  font-size: 1rem;
}

.collapseIcon {
  font-size: 1.2rem;
  color: var(--primary-dark);
}

.cardsWrapper {
  overflow: hidden;
  transition:
    max-height 0.6s ease,
    opacity 0.6s ease;
  max-height: 0;
  opacity: 0;

  &.expanded {
    max-height: 1000px; // достаточно большое значение, чтобы влез контент
    opacity: 1;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.loading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-secondary);
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

.loader {
  width: 20px;
  height: 20px;
  color: var(--primary);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.empty {
  color: var(--text-secondary);
  font-size: 0.875rem;
  margin-left: 0.5rem;
}
