.formField {
  animation: slideIn 0.5s ease-out forwards;
  animation-delay: calc(0.2s * var(--field-index));
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--border);
  background-color: var(--surface);
  color: var(--text-primary);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  &:hover,
  .input:focus {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    border-color: var(--primary);
    background-color: var(--surface-hover);
    transform: none;
  }

  &[aria-invalid='true'] {
    border-color: var(--accent-red);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--surface) inset !important;
    -webkit-text-fill-color: var(--text-primary) !important;
    transition: background-color 5000s ease-in-out 0s; /* предотвращает мерцание */
  }
}

.errorText {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: var(--accent-red);
}
