.calendar {
  padding: 12px;
  border-radius: 14px;
}

.calendar table {
  border-collapse: collapse;
  width: 100%;
}

.calendar th {
  text-align: center;
  padding: 4px 0;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.dayButton {
  border-radius: 10px;
  transition: all 0.2s ease;
  background: transparent;
  color: #000;
}

.dayButton:hover {
  background: rgba(0, 0, 0, 0.05);
}

.dayButton[data-selected-single='true'],
.dayButton[data-range-start='true'],
.dayButton[data-range-end='true'] {
  background: linear-gradient(
    145deg,
    var(--primary-dark),
    var(--primary-light)
  );
  color: white;
  box-shadow: 0 2px 6px rgba(66, 0, 78, 0.4);
  border: 0px;
}

.dayButton[data-range-middle='true'] {
  background: rgba(144, 0, 255, 0.15);
  border-radius: 10px;
}

.dark .calendar {
  background: rgba(40, 40, 40, 0.8);
  color: #f5f5f7;
}

.dark .dayButton:hover {
  background: rgba(255, 255, 255, 0.08);
}

.dark .dayButton[data-selected-single='true'],
.dark .dayButton[data-range-start='true'],
.dark .dayButton[data-range-end='true'] {
  background: linear-gradient(
    145deg,
    var(--primary-dark),
    var(--primary-light)
  );
  color: white;
}

.monthCaption {
  color: #000; /* цвет текста месяца */
}

.captionLabel {
  color: #000;
  font-weight: 900;
  font-size: 1.2rem;
}

.dark .monthCaption,
.dark .captionLabel {
  color: #f5f5f7;
}
